@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Edit */
    background: linear-gradient(45deg, #e5e4e2, #e070ac);
}
.container .card {
    position: relative;
    width: 350px;
    height: 190px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
}
.card:hover {
    height: 450px;
}
.card .image-box {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
    overflow: hidden;
}
.card:hover .image-box {
    width: 250px;
    height: 250px;
}

.card .image-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card .content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}
.card .content .details {
    padding: 40px;
    text-align: center;
    width: 100%;
    transform: translateY(150px);
    transition: 0.5s;
}
.card:hover .content .details {
    transform: translateY(0px);
}
.card .content .details h2 {
    font-size: 1.25rem;
    font-weight: 800;
    color: #555;
    line-height: 1.2rem;
}
.card .content .details h2 span {
    font-size: 0.75rem;
    font-weight: 500;
    opacity: 0.5;
}
.card .content .details .data {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.card .content .details .data h3 {
    font-size: 1rem;
    line-height: 1.2rem;
    font-weight: 500;
    color: #555;
}
.card .content .details .active-buttons button {
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    background: #9ac1f0;
    color: #fff;

    cursor: pointer;
}
.card .content .details .active-buttons button:hover {
    background-color: #72fa93;
    transition: 0.3s;
}
.card .content .details .active-buttons button:nth-child(2) {
    border: 1px solid #999;
    color: #fff;
    background-color: #e070ac;
}
/* .container .card img {
    width: 150px;
    height: 150px;
} */